<template name="layout">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">796+</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{> ticker}}
        </ul>

        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Main Wallet"><strong>{{balances.main_wallet.btc}}</strong> BTC</a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Futures Wallet"><strong>{{balances.futures_wallet.btc}}</strong> BTC</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'transactions'}}">My Transactions</a></li>
                <li class="divider"></li>
                <li><a href="#" id="logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="container">
    {{> errors}}

    {{#if currentUser}}
      {{> yield}}
    {{else}}
      {{> login}}
    {{/if}}

    <div class="footer pull-right">
      Created by Gamec &amp; M4v3R | Donations BTC: <a href="http://btc.blockr.io/address/info/3JNTo7aAd9pwfciLtPqBtfFmxs3MH5pDci">3JNTo7aAd9pwfciLtPqBtfFmxs3MH5pDci</a>
    </div>
  </div>
</template>

<template name="errors">
  <div class="errors">
  {{#each errors}}
    {{> error}}
  {{/each}}
  {{#each notifications}}
    {{> notification}}
  {{/each}}
  </div>
</template>

<template name="error">
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>
</template>

<template name="notification">
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>
</template>

<template name="ticker">
  <li><a><b>Last:</b> <span id="last-price">{{ticker.last}}</span></a></li>
  <li><a><b>High:</b> {{ticker.high}}</a></li>
  <li><a><b>Low:</b> {{ticker.low}}</a></li>
  <li><a><b>Last update:</b> {{ticker.date}}</a></li>
</template>
