<template name="orderForm">
  <form role="form" class="form-horizontal" id="order-form">
    <div class="form-group">
      <label for="price" class="col-sm-3 control-label">Price</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" placeholder="0.00" class="form-control" id="price">
          <span class="input-group-addon">USD</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="qty" class="col-sm-3 control-label">Qty.</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" placeholder="0.00" class="form-control" id="qty">
          <span class="input-group-addon">BTC</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="times" class="col-sm-3 control-label">Margin</label>
      <div class="col-sm-6">
        <select class="form-control" id="margin">
          <option value="5" selected>20:1</option>
          <option value="10">10:1</option>
          <option value="20">5:1</option>
        </select>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1">
        <div class="form-group">
          <a href="#" class="btn btn-block btn-success submit-order" id="buy">
            <strong>OPEN LONG</strong>
          </a>
        </div>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <div class="form-group">
          <a href="#" class="btn btn-block btn-danger submit-order" id="sell">
            <strong>OPEN SHORT</strong>
          </a>
        </div>
      </div>
    </div>
  </form>
</template>

<!--<template name="orderForm">
  <form role="form" id="order-form">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <a href="#" class="btn btn-lg btn-block btn-success submit-order" id="buy">
            <strong>BUY</strong>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="buy_price" placeholder="Buy price" class="form-control input-lg" id="buy-price">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="qty" placeholder="Order size" class="form-control input-lg" id="qty">
        </div>
        <div class="form-group">
          <select name="margin" class="form-control" id="times">
            <option value="5" selected>5%</option>
            <option value="10">10%</option>
            <option value="20">5%</option>
          </select>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="sell_price" placeholder="Sell price" class="form-control input-lg" id="sell-price">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <a href="#" class="btn btn-lg btn-block btn-danger submit-order" id="sell">
            <strong>SELL</strong>
          </a>
        </div>
      </div>
    </div>
  </form>
</template>-->
