<template name="orders">
  <h3>Active orders<!-- <a href="#" class="btn btn-warning btn-xs" id="cancel_all_orders">Cancel all orders</a>--></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Completed</th>
        <th>Initial Margin</th>
        <th>Status</th>
        <th width="60">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#if orders.count}}
        {{#each orders}}
        <tr>
          <td>{{formatType}} {{direction.capitalize}}</td>
          <td>{{qty}} <small>BTC</small></td>
          <td>{{price}}</td>
          <td>{{completed}} <small>BTC</small></td>
          <td>{{margin}} <small>BTC</small></td>
          <td>{{{formatStatus}}}</td>
          <td><a href="#" class="btn btn-sm btn-warning cancel-order" data-id="{{id}}" data-direction="{{direction}}">Cancel</a></td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="7">No active orders.</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</template>
