<template name="orderForm">
  <form role="form" id="order-form">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <a href="#" class="btn btn-lg btn-block btn-success submit-order" id="buy">
            <strong>BUY</strong>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="buy_price" placeholder="Buy price" class="form-control input-lg" id="buy-price">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="qty" placeholder="Order size" class="form-control input-lg" id="qty">
        </div>
        <div class="form-group">
          <select name="margin" class="form-control" id="times">
            <option value="5" selected>5%</option>
            <option value="10">10%</option>
            <option value="20">5%</option>
          </select>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="text" name="sell_price" placeholder="Sell price" class="form-control input-lg" id="sell-price">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <a href="#" class="btn btn-lg btn-block btn-danger submit-order" id="sell">
            <strong>SELL</strong>
          </a>
        </div>
      </div>
    </div>
  </form>
</template>