<template name="orders">
  <h3>Active orders<!-- <a href="#" class="btn btn-warning btn-xs" id="cancel_all_orders">Cancel all orders</a>--></h3>
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Completed</th>
      <th class="hidden-sm hidden-xs">Initial Margin</th>
      <th>Action</th>
    </tr>
    {{#each orders}}
    <tr>
      <td>{{direction}}</td>
      <td>{{qty}}</td>
      <td>{{price}}</td>
      <td>{{completed}}</td>
      <td class="hidden-sm hidden-xs">{{margin}}</td>
      <td><a href="#" class="btn btn-sm btn-warning cancel_order">Cancel</a></td>
    </tr>
    {{/each}}
  </table>
</template>
