<template name="positions">
  <h3>Positions held</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Qty.</th>
        <th class="hidden-sm hidden-xs">Offsetting</th>
        <th>Avg. $</th>
        <th class="hidden-sm hidden-xs">Margin</th>
        <th class="hidden-sm hidden-xs">UnR P/L</th>
        <th>P/L Ratio</th>
        <th class="hidden-sm hidden-xs">Fees</th>
        <th>Offset $</th>
        <th>Offset Qty.</th>
        <th width="60">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#if positions.count}}
        {{#each positions}}
        <tr>
          <td>
            {{#if isTypeSell}}
            <span class='sell'>↓ {{times}}%</span>
            {{else}}
            <span class='buy'>↑ {{times}}%</span>
            {{/if}}
          </td>
          <td>{{total}} <small>BTC</small></td>
          <td class="hidden-sm hidden-xs">{{block_total}} <small>BTC</small></td>
          <td>{{avg_price}}</td>
          <td class="hidden-sm hidden-xs">{{bzj}} <small>BTC</small></td>
          <td class="hidden-sm hidden-xs">
            {{#if isPLNegative}}
            <span class="sell">{{yk}} <small>BTC</small></span>
            {{else}}
            <span class="buy">{{yk}} <small>BTC</small></span>
            {{/if}}
          </td>
          <td>{{ykl}}</td>
          <td class="hidden-sm hidden-xs">{{fee}} <small>BTC</small></td>
          <td style="position: relative">
              <button class="btn btn-default btn-xs btn-paste-price hidden-xs" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
              <input type="text" placeholder="$" class="form-control input-sm price" size="4">
          </td>
          <td><input type="text" placeholder="Qty." class="form-control input-sm qty" size="4" value="{{total}}"></td>
          <td><a href="#" class="btn btn-sm btn-warning offset" data-margin="{{times}}" data-direction="{{bs}}">Offset</a></td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="11">No positions.</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</template>
