<template name="transactions">
  <h3>My Transactions</h3>

  {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=profitLossChart}}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th class="hidden-xs">Margin</th>
        <th>Profit/Loss</th>
        <th class="hidden-xs hidden-sm">Fees</th>
        <th class="hidden-xs">Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each transactions}}
        <tr>
          <td>{{formatDate}}</td>
          <td>{{formatType}} {{direction.capitalize}}</td>
          <td>{{price}}</td>
          <td>{{qty}} <small>BTC</small></td>
          <td class="hidden-xs">{{margin}} <small>BTC</small></td>
          <td>
            {{#if isPLZero}}
              -
            {{else}}
              {{#if isNegative loss_profit}}
                <span class="sell">{{loss_profit}} <small>BTC</small></span>
                {{else}}
                <span class="buy">{{loss_profit}} <small>BTC</small></span>
              {{/if}}
              <small class="hidden-xs">({{PLPercent margin loss_profit}}%)</small>
            {{/if}}
          </td>
          <td class="hidden-xs hidden-sm">
            {{#if isFeeZero}}
              -
            {{else}}
              {{fee}} <small>BTC</small>
            {{/if}}
          </td>
          <td class="hidden-xs">{{formatDescription}}</td>
        </tr>
      {{/each}}
      <tr>
        <td class="hidden-xs"></td>
        <td colspan="4" align="right"><strong>Profit/Loss Sum:</strong></td>
        <td>
          {{#if isNegative PLSum}}
            <strong class="sell">{{PLSum}} <small>BTC</small></strong>
            {{else}}
            <strong class="buy">{{PLSum}} <small>BTC</small></strong>
          {{/if}}
        </td>
        <td class="hidden-xs hidden-sm"></td>
        <td class="hidden-xs"></td>
      </tr>
    </tbody>
  </table>
</template>