/* CSS declarations go here */

body {
  padding-top: 70px;
}

.higher, .bid, .buy {
    color: #0a0;
}

.lower, .ask, .sell {
    color: #c00;
}

.chart {
  overflow: hidden;
  width: 700px;/*820px;*/
  height: 368px;
}

.chart iframe {
  border: 0;
}

#order-form {
  margin-top: 80px;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
          animation: fadeOut 4700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 4700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 4700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
